{% extends 'base.html' %}
{% block content %}

    <section class="flat-form" id="sec3">
        <div class="container">
            <h2>ورود به حساب</h2>
            <div id="contact-form">
                <div id="message"></div>
                {% if request.user.is_authenticated %}
                    <p>you are log in !!!!!!</p>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div style="font-size: medium ;color: darkred">{{ login_form.non_field_errors }}</div>
                        <hr>
                        {{ login_form.username }}
                        {{ login_form.password }}
                        <hr>
                        <button type="submit" class=" btn-outline-gray btn-lg ">ورود به حساب</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
